#home-main {
    padding-bottom: 5em;
    .presentation-content {
        p {
            text-align: justify;
        }
    }
    .download-cv-container {
        margin: 2em 0;
        a {
            background: var(--k__second-bg-color);
            color: var(--k__txt-color);
            font-size: 1.2rem;
            text-decoration: none;
            padding: 8px 12px;
            border-radius: 8px;
            &:hover {
                background: var(--k__primary-color);
                color: var(--k__white);
            }
        }
    }
    .skills-container {
        
        .k__card {
            background: var(--k__primary-bg-color);
            border: none;
            box-shadow: 0 0 8px 0 var(--k__second-bg-color);
            color: var(--k__txt-color);
        }
        .logo-container {
            img {
            width: 100px;
            }
            span {
                font-size: 1.4rem;
            }
        }
        .skill-bar-container {
            width: 120px; 
            height: 8px; 
            background-color: var(--k__second-bg-color);
            border-radius: 8px; 
            display: block;
            .skill-bar {
                display: block;
                background: var(--k__primary-color);
                height: 8px;
            }
          }
        .skill-btn {
            background: var(--k__primary-color);
            color: var(--k__white);
        }
    }
}