// Light theme
:root {
    --k__primary-color: #b80808;
    --k__primary-bg-color: #fff;
    --k__second-bg-color: #c8c8c8;
    --k__text-color: #181818;
    --k__white: #ececec;
  }
  
// Dark theme
body.dark-theme {
    --k__primary-bg-color: #2f2f2f;
    --k__second-bg-color: #181818;
    --k__text-color: #ececec;
}


  



